nav{
    display: grid;
    align-items: center;
    margin: 10px;
    color: white;
    grid-gap: 10px;
    justify-items: center;
}
.home{
  width: 10vw;
  justify-self: start;
}

h1{
  color: white;
  font-size: 35px;
}
.login {
  justify-self: end;
}

nav > a {
  grid-row-start: 1;
    border: solid white 1px;
    background-color: rgba(0, 0, 0, 0.753);
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  nav > a:hover{
    background-color: blue;
  }
  nav > a:visited{
    color: white;
  }