.RvrPage{
    max-width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid white 3px;
    margin: 12px;
    border-radius: 10px;
    background-color: white;
}
.singlePhoto{
    max-width: 90vw;
}
ul{
    display: flex;
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}