.yAxis{
    position: relative;
    right:295px;
    top:290px;
    transform: rotate(-90deg);
    color: black;
}
.xAxis{
    position: relative;
    top: 80px;
    color: black
}
.WeatherWrapper{
    background: rgba(255, 255, 255, 0.75);
        color: white;
        border: solid white 1px;
        padding: 10px;
        border-radius: 5px;

}