.yAxis{
    position: relative;
    transform: rotate(-90deg);
    color: black;
}
.xAxis{
    position: relative;
   
    color: black
}
.WeatherWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.75);
        color: white;
        border: solid white 1px;
        border-radius: 5px;

}
.temp {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}